@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

body{
    background: #dbdbdb;
}

header{
    width: 55%;
    height:550px;
    margin-left: 100px;
    /* overflow: hidden; */
}

header > h1 {
    font-size: 5em;
    margin-bottom: 0;
    margin-top: 100px;
}

header > p {
    font-size: 1.5em;
}

main{
    padding:50px;
    /* margin-top: 300px; */
}

card-component{
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

.card {
  width: 600px;
  height: 450px;
  background: #ff9b30;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.5vmin solid #000;
  box-shadow: 0.4rem 0.4rem #000;
  justify-content: center;
  align-items: center;
}

.card > h1 {
    font-size: 20px;
    margin-left: 60px;
}

.image-wrapper{
    justify-content: center;
    align-items: center;
}